/* Your styles go here */
@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("bootstrap-icons/font/bootstrap-icons.css");

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

.bg-cover {
    height: 100px;
}

img.rounded{
    padding: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
